/*========================= Clients ===================================*/
.clients__heading-second {
  padding-bottom: 50px;
  text-align: center;
}
.clients {
  background-color: #ffffff;
  padding: 94px 0px;
}
.clients__list {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  margin: 0;
  padding-left: 0;
}
.clients__item {
  display: flex;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 0px;
  fill: #afb1b8;
  cursor: pointer;
  transition-property: fill, border;
  transition-duration: var(--time);
  transition-timing-function: var(--time-f);
}
.clients__item:hover,
.clients__item:focus {
  fill: var(--primery-color);
  border: 1px solid var(--primery-color);
}
