.header-navbar-menu__container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 796px;
  background-color: #ffffff;
  padding: 48px 40px;
  text-align: left;
}
.header-navbar-menu__container.is-open {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-navbar-menu__boxes,
.header-navbar-menu__links,
.header-navbar-menu__socials {
  margin: 0;
  padding: 0;
}

.header-navbar-menu__socials {
  display: flex;
  flex-direction: row;
}
.header-navbar-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--main-txt-color);
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-f);
  &:hover {
    color: var(--primery-color);
  }
  &:focus {
    color: var(--primery-color);
  }
  &:nth-child(-n + 2) {
    font-size: 34px;
  }
  &--blue-color {
    color: var(--primery-color);
  }
  &--grey-color {
    color: #757575;
  }
}

.header-navbar-menu__item {
  margin-bottom: 32px;
}

.header-navbar-menu__socials {
  display: flex;
  margin: 64px 0 0 0;
}
.header-navbar-menu__socials-list {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.header-navbar-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-f);
  color: var(--primery-color);
  // &:hover {
  //   color: var(--primery-color);
  // }
  // &:focus {
  //   color: var(--primery-color);
  // }
}
