.header-navbar-menu__container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  // width: 480px;
  height: 796px;
  background-color: #ffffff;
  padding: 48px 40px;
  text-align: left;
  @media screen and (max-width: 479px) {
    height: 100vw;
  }
}
.header-navbar-menu__container.is-open {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-navbar-menu__boxes,
.header-navbar-menu__links,
.header-navbar-menu__socials {
  margin: 0;
  padding: 0;
}

.header-navbar-menu__socials {
  display: flex;
  flex-direction: row;
}
.header-navbar-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--main-txt-color);
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-f);

  &:hover {
    color: var(--primery-color);
  }
  &:focus {
    color: var(--primery-color);
  }
  &:nth-child(-n + 2) {
    font-size: 34px;
    @media screen and (max-width: 479px) {
      font-weight: 300;
      font-size: 20px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      margin-bottom: 0px;
    }
  }
  &--blue-color {
    color: var(--primery-color);
  }
  &--grey-color {
    color: #757575;
  }
}

.header-navbar-menu__item {
  margin-bottom: 32px;
  @media screen and (max-width: 479px) {
    margin-bottom: 12px;
  }
}

.header-navbar-menu__socials {
  display: flex;
  margin: 64px 0 0 0;
  @media screen and (max-width: 479px) {
    margin: 0;
    flex-direction: column;
  }
}
.header-navbar-menu__socials-list {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;

    @media screen and (max-width: 479px) {
      border-right: 0;
      padding-right: 0px;
      margin-right: 0px;
    }
  }
}

.header-navbar-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  // margin-bottom: 32px;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-f);
  color: var(--primery-color);
  // &:hover {
  //   color: var(--primery-color);
  // }
  // &:focus {
  //   color: var(--primery-color);
  // }
}
