/*========================= Team ===================================*/

.team {
  width: 480px;
  margin: 0 auto;
  background-color: var(--background3-color);
  padding: 60px 0px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding: 94px 0px;
  }
}
.team__heading-second {
  padding-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}
.team__employee-list {
  padding: 0;
  margin: 0;
  & .team__employee:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    & .team__employee:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    & .team__employee:nth-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}
.team__employee {
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    margin: 0 15px;
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
    margin: 0;
  }
}
.team__employee-img {
  display: block;
  width: 450px;
  height: 460px;

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
.team__heading-fourth,
.team__employee-job {
  text-align: center;
  margin: 0px;
}
.team__heading-fourth {
  margin-top: 30px;
}
.team__employee-job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.team__employee-socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding: 0 0 24px 0;
}
.team__employee-socials li:not(:last-child) {
  margin-right: 10px;
}
.team__employee-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: var(--time);
  transition-timing-function: var(--time-f);
}
.team__employee-social-link svg {
  fill: #afb1b8;
}
.team__employee-social-link:hover,
.team__employee-social-link:focus {
  background-color: var(--primery-color);
}
.team__employee-social-link:hover svg,
.team__employee-social-link:focus svg {
  fill: #ffffff;
}
