/*Вынесены стили кнопок*/
.hero__order-button,
.modal__form-cb-button,
.footer__button {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--primery-color);
  border-radius: 4px;
  border: 0;
  padding: 10px 0px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*========================= Header mobile button ===================================*/
.header-navbar__buttons {
  display: inline-flex;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: calc(100vw - 2 * 15px);
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--time-f);
  z-index: 1;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-navbar__buttons:hover,
.header-navbar__buttons:focus {
  cursor: pointer;
  fill: var(--primery-color);
  outline: none;
}
.header-navbar__buttons .header-navbar__icon-cross {
  display: none;
}
.header-navbar__buttons.is-open .header-navbar__icon-cross {
  display: block;
}
.header-navbar__buttons.is-open .header-navbar__icon-menu {
  display: none;
}

/*========================= Buttons portfolio ===================================*/
.button-section__button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--background3-color);
  border-radius: 4px;
  border: 1px solid var(--background3-color);
  transition-property: border, color, box-shadow, background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--time-f);
}
.button-section__button:hover,
.button-section__button:focus {
  background-color: var(--primery-color);
  border: 1px solid var(--primery-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Конец вынесения стилей кнопок*/

.button-section {
  width: 480px;
  // display: block;
  margin: 0 auto;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1600px;
    // padding: 94px 0px;
  }
}

.button-section__boxes {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 60px 0px 40px 15px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}
.button-section__item:not(:last-child) {
  margin-right: 8px;
}
.button-section__button {
  padding: 6px 22px;
}
.button-section__item:nth-child(-n + 3) {
  margin-bottom: 6px;
}
