:root {
  --primery-color: #2196f3;
  --main-txt-color: #212121;
  --background-color: #e5e5e5;
  --background2-color: #2f303a;
  --background3-color: #f5f4fa;
  --primery-font: 'Roboto', san-serif;
  --secondary-font: 'Raleway', san-serif;
  --time: 250ms;
  --time-f: cubic-bezier(0.4, 0, 0.2, 1);
}
